.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../models/hero_shot_camera.png);
    background-size: cover;
    background-position: center;
    min-height: 24rem;
}


